@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";


#logo-container {
	color: #26a69a;
}


nav ul a {
	color: #26a69a;
}

iframe {
  padding-right: 20px;
  padding-left: 20px;

}

img  {
   border: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 30%;
    }


.instructions {
  font-family: Serif;
  font-size: 18px;
}

.sign_in {
  color: transparent;
  background-color: transparent;
  border: none;
}  

span {
  font-size: 24px;
}

.slideInLeft {
  color: #4db6ac;
  text-align: center;
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 3s;
}

.slideInRight {
  font-weight: 300;
  width: 100%;
  float: left;
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 2s;
  
}
  
.rubberBand {
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 2s;

  }


.fadeInUp {
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 3.5s;
} 

    

